:root {
  --accent-color: #e10717;
  --black: #111;
  --gray: #555454;
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  color: var(--black);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

#header {
  height: 45px;
  position: fixed;
  width: 100%;
  top: 0;
}

#main {
  margin-top: 45px;
  padding: 3%;
}

.img-wrapper {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  background-image: url(img/minimalist-home-design.jpg);
  background-size: cover;
}

.options {
  background-color: var(--gray);
  color: white;
}

.options ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 5px 25px;
  margin: 0;
}

.options li {
  list-style: none;
}

.inspirations-section {
  margin: 0 10%;
}

.inspirations-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1%;
  justify-items: center;
}

.inspirations-wrapper img {
  width: 100%;
  border-radius: 8px;
}

.inspirations-section h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.39px;
  color: #000000;
}

#footer {

}

@media (min-width: 480px) {
  /* Tablet */
  #main {
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  /* Laptops */
  #main {
    max-width: 728px;
  }
}

@media (min-width: 1824px) {
  /* Big screens */
  #main {
    max-width: 1224px;
  }
}

/*--- Borders ---*/
.red-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #e29898;
}

.orange-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #ffc77d;
}

.yellow-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #f5c800;
}

.green-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #8ece8e;
}

.blue-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed rgb(120, 172, 231);
}

.purple-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed rgb(200, 105, 255);
}
