:root {
  --accent-color: #e10717;
  --black: #111;
  --gray: #555454;
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  color: var(--black);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

#header {
  height: 45px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

#header ul {
  margin: 0;
  padding: 0;
}

#header li {
  list-style: none;
}

#header .menu {
  display: grid;
  grid-template-columns: auto 11fr auto auto auto;
  padding: 0 15px;
  gap: 10px;
  margin: 0;
  margin-top: 12px;
}

.logo {
  justify-self: center;
}

.logo img {
  width: 100px;
}

#header .nav {
  margin-top: 5px;
  padding: 12px 15px;
  width: 50%;
  border-radius: 0 8px 8px 0;
  background-color: rgba(225, 223, 222, 0.92);
  display: grid;
  gap: 10px;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  transition: all 0.25s;
}

#header .nav a {
  text-decoration: none;
  color: var(--black);
}

#header .nav .active {
  color: var(--accent-color);
}

.nav small {
  color: var(--accent-color);
  font-weight: normal;
  text-transform: initial;
}

#header .collapse-vert {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  margin-left: -2px;
  transition: all 0.25s;
}

.subnav {
  overflow: hidden;
}

#header .collapse-hor ul {
  height: 0;
}

/*--- Main ---*/

#main {
  margin-top: 45px;
  padding: 3%;
}

.img-wrapper {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  background-image: url(img/minimalist-home-design.jpg);
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.options {
  background-color: var(--gray);
  color: white;
}

.options ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 5px 25px;
  margin: 0;
}

.options li {
  list-style: none;
}

.inspirations-section {
  margin: 0 5%;
}

.inspirations-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 240px;
  grid-gap: 1%;
  justify-items: center;
}

.inspiration-img {
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  align-items: end;
  display: grid;
}

.inspiration-text {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.81);
  font-weight: bold;
  padding-left: 10px;
  text-transform: uppercase;
  align-items: center;
  display: grid;
  padding-right: 50%;
  font-size: 18px;
}
.i1 {
  background-image: url('/img/minimalist-home-design.jpg');
}

.i2 {
  background-image: url('/img/minimalist-home-design.jpg');
}
.i3 {
  background-image: url('/img/minimalist-home-design.jpg');
}
.i4 {
  background-image: url('/img/minimalist-home-design.jpg');
}
.i5 {
  background-image: url('/img/minimalist-home-design.jpg');
}
.i6 {
  background-image: url('/img/minimalist-home-design.jpg');
}
.i7 {
  background-image: url('/img/minimalist-home-design.jpg');
}
.i8 {
  background-image: url('/img/minimalist-home-design.jpg');
}
.i9 {
  background-image: url('/img/minimalist-home-design.jpg');
}

.inspirations-section h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.39px;
  color: #000000;
  margin-bottom: 5%;
}

#footer {
}

@media (min-width: 480px) {
  /* Tablet */
  #main {
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  /* Laptops */
  #main {
    max-width: 728px;
  }
}

@media (min-width: 1824px) {
  /* Big screens */
  #main {
    max-width: 1224px;
  }
}
/* 
// hacer menu vertical */

@media only screen and (max-width: 640px) {
  header {
    position: absolute;
  }
}

/*--- Borders ---*/
.red-border {
  border: 1px dashed #e29898;
}

.orange-border {
  border: 1px dashed #ffc77d;
}

.yellow-border {
  border: 1px dashed #f5c800;
}

.green-border {
  border: 1px dashed #8ece8e;
}

.blue-border {
  border: 1px dashed rgb(120, 172, 231);
}

.purple-border {
  border: 1px dashed rgb(200, 105, 255);
}
